---
BasedOnStyle: Google
AccessModifierOffset: '0'
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
ColumnLimit: 80
IndentWidth: '2'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
UseTab: Never
