! Display
Xft.dpi: 220

! Font
*font: FiraCode Nerd Font:size=20
*rofifont: FiraCode Nerd Font 20
*user_bh: 0

! Colors
*foreground: gray

! dwm appearance
norm_fg: #dadada
norm_bg: #0a0a0a
norm_border: #555555

sel_fg: #dadada
dwm*sel_bg: #800700
sel_border: #a8a8a8

borderpx: 4

gappih: 6
gappiv: 6

